.sbt/
.ivy2/
Trash/
UserSettings.xml
workspace/
Music/
Movies/
Pictures/
Public/
Library/
elm-stuff/
Downloads/
Desktop/
Documents/
Applications/
.DS_Store

.CFUserTextEncoding
.ackrc
.agignore
*~
*.log
leksah.lkshw
.zshenv
.zsh_history
.zsh_update
.zlogout
.zprofile
.sh_history


.cocos/
.emacs.d/
.m2/
.vim/
.ssh/
.subversion/
.thumbnails/
.oracle_jre_usage/
.pgadmin/
.nvm/
.npm/
.node_gyp/
.node/
.mix/
.local/
.leksah-*/
.ivy2/
.keepassx/
.idea-build/
.hex/
.h2/
.gradle/
.gitshots/
.gnupg/
.ghc-mod/
.ghc/
.gem/
.elm/
.cups/
.dotfiles_backup/
.docker/
.coursier/
.CocosCreator/

.cache/
.cabal/
.boxfuse/

.bash_sessions/
.atom/
.AndroidStudio2.1/
.android-sdk/
.android/
.ammonite/
.activator/


